/* BASE STYLES */

* {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: 'Nunito Sans', sans-serif;
  
}
.container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

/* HEADER STYLES */

h1 {
  margin-bottom: 0;
}

.tag {
  margin-top: 0;
}

.red {
  color: red;
}

/* MAIN SECTION STYLES */

.main {
  height: 60vh;
}

.insert-text {
  height: 200px;
  border: 2px solid red;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .5s;
  
}

.response-text {
  font-size: 1.6em;
  
}

#sickBtn {
  border: 2px solid black;
  display: block;
  border-radius: 4px;
  width: 100%;
  margin-top: 1em;
  background: transparent;
  padding: .5em 0;
  transition: .2s;
  backface-visibility: hidden;
}

#sickBtn:focus {
  outline: none;
}

#sickBtn:hover {
  transform: scale(1.05);
  /* transition: .2s; */
}

#sickBtn:active {
  transform: scale(1);
  transition: .2s;
}

/* FOOTER STYLES */

footer {
  margin-top: 3em;
}

.social-link:link,
.social-link:visited {
  color: #000;
  text-decoration: none;
  font-size: 1.3em;
  padding: .25em .5em;
  display: inline-block;
  transition: all .2s;
}

.social-link:hover {
  opacity: .5;
  transform: scale(1.1);
}

/* MEDIA QUERIES */

@media (min-width: 769px) {
  .container {
    width: 70%;
  }
}

@media (min-width: 1040px) {
  .container {
    width: 50%;
  }
}